body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  background-color: #b3cde0;
  color:#FFF;
  font-weight:200;
}

.container {
  height:100vh;
  display:flex;
  flex-direction:column;
}

.logo {
  width:25%;
}

.header-container {
  padding:8px;
  background: linear-gradient(to top right, #6497b1 , #FFF);
}

.location-container {
  flex-grow:1;
  display:flex;
  align-items: center;
  margin:0 auto;
}

.column {
  display:flex;
  flex-direction:column;
  align-items:center;
}

.button {
  color:#FFF;
  text-decoration: none;
  background: #005b96;
  border: none;
  font-size: 16px;
  border-radius: 3px;
  width: 120px;
  text-align: center;
  display: block;
  padding: 7px 0;
}

.button:hover {
  color: #b3cde0;
}

.button:active {
  transform: translateY(1px);
}

.location-input {
  border-radius: 3px;
  margin: 10px 0;
  padding: 5px;
  font-size: 16px;
  width: 75%;
}

.title {
  font-size: 3em;
  font-weight: 200;
  margin: 15px 0
}

.current-weather-container {
  display:flex;
  min-height:80px;
  max-height:18%;
}

.temperature {
  font-size:2.5em;
  font-weight:200;
  margin:15px 0;
  padding:10px;
}

.weather-icon {
  width:100px;
  height:100px;
}

.icon-container {
  display:flex;
  justify-content:space-around;
  width:80%;
  flex-wrap:wrap;
  margin:40px;
}

.date {
  color:#005b96;
  font-size:1.5em;
  padding:5px;
}

.highlow {
  color:#005b96;
}

.description {
  text-align:center;
  font-weight:200;
  font-size:1.5em;
}
